---
// Importar todos los assets de campeones
import AatroxImg from "../assets/Champions/Aatrox.png";
import AhriImg from "../assets/Champions/Ahri.png";
import AkaliImg from "../assets/Champions/Akali.png";
import AsheImg from "../assets/Champions/Ashe.png";
import BraumImg from "../assets/Champions/Braum.png";
import CaitlynImg from "../assets/Champions/Caitlyn.png";
import DariusImg from "../assets/Champions/Darius.png";
import DrMundoImg from "../assets/Champions/Dr Mundo.png";
import EzrealImg from "../assets/Champions/Ezreal.png";
import GangplankImg from "../assets/Champions/Gangplank.png";
import GarenImg from "../assets/Champions/Garen.png";
import GnarImg from "../assets/Champions/Gnar.png";
import GwenImg from "../assets/Champions/Gwen.png";
import JannaImg from "../assets/Champions/Janna.png";
import JarvanIVImg from "../assets/Champions/JarvanIV.png";
import JayceImg from "../assets/Champions/Jayce.png";
import JhinImg from "../assets/Champions/Jhin.png";
import JinxImg from "../assets/Champions/Jinx.png";
import KaiSaImg from "../assets/Champions/KaiSa.png";
import KalistaImg from "../assets/Champions/Kalista.png";
import KarmaImg from "../assets/Champions/Karma.png";
import KatarinaImg from "../assets/Champions/Katarina.png";
import KayleImg from "../assets/Champions/Kayle.png";
import KennenImg from "../assets/Champions/Kennen.png";
import KobukoImg from "../assets/Champions/Kobuko.png";
import KogMawImg from "../assets/Champions/KogMaw.png";
import KSanteImg from "../assets/Champions/KSante.png";
import LeeSinImg from "../assets/Champions/Lee Sin.png";
import LeonaImg from "../assets/Champions/Leona.png";
import LucianImg from "../assets/Champions/Lucian.png";
import LuluImg from "../assets/Champions/Lulu.png";
import LuxImg from "../assets/Champions/Lux.png";
import MalphiteImg from "../assets/Champions/Malphite.png";
import MalzaharImg from "../assets/Champions/Malzahar.png";
import NaafiriImg from "../assets/Champions/Naafiri.png";
import NeekoImg from "../assets/Champions/Neeko.png";
import PoppyImg from "../assets/Champions/Poppy.png";
import RakanImg from "../assets/Champions/Rakan.png";
import RammusImg from "../assets/Champions/Rammus.png";
import RellImg from "../assets/Champions/Rell.png";
import RyzeImg from "../assets/Champions/Ryze.png";
import SamiraImg from "../assets/Champions/Samira.png";
import SennaImg from "../assets/Champions/Senna.png";
import SeraphineImg from "../assets/Champions/Seraphine.png";
import SettImg from "../assets/Champions/Sett.png";
import ShenImg from "../assets/Champions/Shen.png";
import SivirImg from "../assets/Champions/Sivir.png";
import SmolderImg from "../assets/Champions/Smolder.png";
import SwainImg from "../assets/Champions/Swain.png";
import SyndraImg from "../assets/Champions/Syndra.png";
import TheMightyMechImg from "../assets/Champions/The Mighty Mech.png";
import TwistedFateImg from "../assets/Champions/Twisted Fate.png";
import UdyrImg from "../assets/Champions/Udyr.png";
import VarusImg from "../assets/Champions/Varus.png";
import ViImg from "../assets/Champions/Vi.png";
import ViegoImg from "../assets/Champions/Viego.png";
import VolibearImg from "../assets/Champions/Volibear.png";
import XayahImg from "../assets/Champions/Xayah.png";
import XinZhaoImg from "../assets/Champions/Xin Zhao.png";
import YasuoImg from "../assets/Champions/Yasuo.png";
import YoneImg from "../assets/Champions/Yone.png";
import YuumiImg from "../assets/Champions/Yuumi.png";
import ZacImg from "../assets/Champions/Zac.png";
import ZiggsImg from "../assets/Champions/Ziggs.png";
import ZyraImg from "../assets/Champions/Zyra.png";

// Importar items básicos
import BfSwordImg from "../assets/items/bf-sword.png";
import ChainVestImg from "../assets/items/chain-vest.png";
import FryingPanImg from "../assets/items/frying_pan.png";
import GiantsBeltImg from "../assets/items/giants-belt.png";
import NeedlesslyLargeRodImg from "../assets/items/needlessly-large-rod.png";
import NegatronCloakImg from "../assets/items/negatron-cloak.png";
import RecurveBowImg from "../assets/items/recurve-bow.png";
import SparringGlovesImg from "../assets/items/sparring-gloves.png";
import SpatulaImg from "../assets/items/spatula.png";
import TearOfTheGoddessImg from "../assets/items/tear-of-the-goddess.png";

// Importar items combinados
import AdaptiveHelmImg from "../assets/items/combined/adaptive-helm.png";
import ArchangelsStaffImg from "../assets/items/combined/archangels-staff.png";
import BloodthirsterImg from "../assets/items/combined/bloodthirster.png";
import BlueBuffImg from "../assets/items/combined/blue-buff2.png";
import BrambleVestImg from "../assets/items/combined/bramble-vest.png";
import CrownguardImg from "../assets/items/combined/crownguard.png";
import DeathbladeImg from "../assets/items/combined/deathblade.png";
import DragonClawImg from "../assets/items/combined/dragons-claw.png";
import EdgeOfNightImg from "../assets/items/combined/edge-of-night.png";
import EvenshroudImg from "../assets/items/combined/evenshroud.png";
import FimbulwinterImg from "../assets/items/combined/fimbulwinter.png";
import GargoyleStoneplateImg from "../assets/items/combined/gargoyle-stoneplate.png";
import GiantSlayerImg from "../assets/items/combined/giant-slayer.png";
import GuardbreakerImg from "../assets/items/combined/guardbreaker.png";
import GuinsoosRagebladeImg from "../assets/items/combined/guinsoos-rageblade.png";
import HandOfJusticeImg from "../assets/items/combined/hand-of-justice.png";
import HextechGunbladeImg from "../assets/items/combined/hextech-gunblade.png";
import InfinityEdgeImg from "../assets/items/combined/infinity-edge.png";
import IonicSparkImg from "../assets/items/combined/ionic-spark.png";
import JeweledGauntletImg from "../assets/items/combined/jeweled-gauntlet.png";
import KrakensFuryImg from "../assets/items/combined/krakensfury.png";
import LastWhisperImg from "../assets/items/combined/last-whisper.png";
import MorellonomiconImg from "../assets/items/combined/morellonomicon.png";
import NashorsToothImg from "../assets/items/combined/nashors-tooth.png";
import QuicksilverImg from "../assets/items/combined/quicksilver.png";
import RabadonsDeathcapImg from "../assets/items/combined/rabadons-deathcap.png";
import RedBuffImg from "../assets/items/combined/redbuff.png";
import SpearOfShojinImg from "../assets/items/combined/spear-of-shojin2.png";
import SpiritVisageImg from "../assets/items/combined/spiritvisage.png";
import SteadfastHammerImg from "../assets/items/combined/steadfast-hammer.png";
import SteraksGageImg from "../assets/items/combined/steraks-gage.png";
import SunfireCapeImg from "../assets/items/combined/sunfire-cape.png";
import TacticiansCrownImg from "../assets/items/combined/tacticians-crown.png";
import TacticiansCapeImg from "../assets/items/combined/tacticians_cape.png";
import TacticiansShieldImg from "../assets/items/combined/tacticians_shield.png";
import ThiefsGlovesImg from "../assets/items/combined/thiefs-gloves.png";
import TitansResolveImg from "../assets/items/combined/titans-resolve.png";
import VoidStaffImg from "../assets/items/combined/voidstaff.png";
import WarmogsArmorImg from "../assets/items/combined/warmogs-armor.png";

// Importar items artefactos
import BlightingJewelImg from "../assets/items/artifacts/blighting-jewel1.png";
import DawncoreImg from "../assets/items/artifacts/dawncore.png";
import DeathfireGraspImg from "../assets/items/artifacts/deathfire-grasp.png";
import DeathsDefianceImg from "../assets/items/artifacts/deaths-defiance.png";
import FishbonesImg from "../assets/items/artifacts/fishbones1.png";
import FlickerbladeImg from "../assets/items/artifacts/flickerblade.png";
import GamblersBladeImg from "../assets/items/artifacts/gamblers-blade2.png";
import GoldCollectorImg from "../assets/items/artifacts/gold-collector.png";
import HorizonFocusImg from "../assets/items/artifacts/horizon-focus1.png";
import HullcrusherImg from "../assets/items/artifacts/hullcrusher.png";
import IndomitableGauntletImg from "../assets/items/artifacts/indomitable-gauntlet.png";
import InfinityForceImg from "../assets/items/artifacts/infinity-force.png";
import InnervatingLocketImg from "../assets/items/artifacts/innervating-locket1.png";
import LichBaneImg from "../assets/items/artifacts/lich-bane1.png";
import LightshieldCrestImg from "../assets/items/artifacts/lightshield-crest1.png";
import LudensTempestImg from "../assets/items/artifacts/ludens-tempest1.png";
import ManazaneImg from "../assets/items/artifacts/manazane.png";
import MittensImg from "../assets/items/artifacts/mittens1.png";
import MogulsMailImg from "../assets/items/artifacts/moguls-mail2.png";
import ProwlersClawImg from "../assets/items/artifacts/prowlers-claw1.png";
import RapidFirecannonImg from "../assets/items/artifacts/rapid-firecannon1.png";
import SeekersArmguardImg from "../assets/items/artifacts/seekers-armguard1.png";
import SilvermereDawnImg from "../assets/items/artifacts/silvermere-dawn1.png";
import SnipersFocusImg from "../assets/items/artifacts/snipers_focus.png";
import SpectralCutlassImg from "../assets/items/artifacts/spectral-cutlass1.png";
import StatikkShivImg from "../assets/items/artifacts/statikk-shiv.png";
import SuspiciousTrenchCoatImg from "../assets/items/artifacts/suspicious-trench-coat1.png";
import TalismanOfAscensionImg from "../assets/items/artifacts/talisman-of-ascension1.png";
import TitanicHydraImg from "../assets/items/artifacts/titanic-hydra.png";
import TrickstersGlassImg from "../assets/items/artifacts/tricksters-glass.png";
import UnendingDespairImg from "../assets/items/artifacts/unending-despair1.png";
import WitsEndImg from "../assets/items/artifacts/wits-end1.png";
import ZhonyasParadoxImg from "../assets/items/artifacts/zhonyas-paradox.png";

// Importar items consumibles
import ChampionDuplicatorImg from "../assets/items/consumables/championduplicator.png";
import LesserChampionDuplicatorImg from "../assets/items/consumables/lesserchampionduplicator.png";
import MagneticRemoverImg from "../assets/items/consumables/magneticremover.png";
import ReforgerImg from "../assets/items/consumables/reforger.png";

// Importar items elusivos
import CrownOfDemaciaImg from "../assets/items/elusive/crown-of-demacia.png";
import ProtectorEmblemImg from "../assets/items/elusive/protector-emblem.png";
import SniperEmblemImg from "../assets/items/elusive/sniper-emblem.png";

// Importar items radiantes
import EquinoxImg from "../assets/items/radiant/equinox.png";
import JakshoTheProteanImg from "../assets/items/radiant/jaksho-the-protean.png";
import LegacyOfTheColossusImg from "../assets/items/radiant/legacy-of-the-colossus.png";
import NashorsToothRadiantImg from "../assets/items/radiant/nashors-tooth-radiant.png";
import RadiantArchangelsStaffImg from "../assets/items/radiant/radiant-archangels-staff.png";
import RadiantBloodthirsterImg from "../assets/items/radiant/radiant-bloodthirster.png";
import RadiantBlueBuffImg from "../assets/items/radiant/radiant-blue-buff.png";
import RadiantBrambleVestImg from "../assets/items/radiant/radiant-bramble-vest.png";
import RadiantDeathbladeImg from "../assets/items/radiant/radiant-deathblade.png";
import RadiantDragonsClawImg from "../assets/items/radiant/radiant-dragons-claw.png";
import RadiantEdgeOfNightImg from "../assets/items/radiant/radiant-edge-of-night.png";
import RadiantGargoyleStoneplateImg from "../assets/items/radiant/radiant-gargoyle-stoneplate.png";
import RadiantGiantSlayerImg from "../assets/items/radiant/radiant-giant-slayer.png";
import RadiantGuinsoosRagebladeImg from "../assets/items/radiant/radiant-guinsoos-rageblade.png";
import RadiantHandOfJusticeImg from "../assets/items/radiant/radiant-hand-of-justice.png";
import RadiantHextechGunbladeImg from "../assets/items/radiant/radiant-hextech-gunblade.png";
import RadiantInfinityEdgeImg from "../assets/items/radiant/radiant-infinity-edge.png";
import RadiantIonicSparkImg from "../assets/items/radiant/radiant-ionic-spark.png";
import RadiantJeweledGauntletImg from "../assets/items/radiant/radiant-jeweled-gauntlet.png";
import RadiantKrakensFuryImg from "../assets/items/radiant/radiant-krakens-fury.png";
import RadiantLastWhisperImg from "../assets/items/radiant/radiant-last-whisper.png";
import RadiantMorellonomiconImg from "../assets/items/radiant/radiant-morellonomicon.png";
import RadiantProtectorsVowImg from "../assets/items/radiant/radiant-protectors-vow.png";
import RadiantQuicksilverImg from "../assets/items/radiant/radiant-quicksilver.png";
import RadiantRabadonsDeathcapImg from "../assets/items/radiant/radiant-rabadons-deathcap.png";
import RadiantSpearOfShojinImg from "../assets/items/radiant/radiant-spear-of-shojin.png";
import RadiantSpiritVisageImg from "../assets/items/radiant/radiant-spirit-visage.png";
import RadiantSunfireCapeImg from "../assets/items/radiant/radiant-sunfire-cape.png";
import RadiantThiefsGlovesImg from "../assets/items/radiant/radiant-thiefs-gloves.png";
import RadiantTitansResolveImg from "../assets/items/radiant/radiant-titans-resolve.png";
import RadiantVoidStaffImg from "../assets/items/radiant/radiant-void-staff.png";
import RadiantWarmogsArmorImg from "../assets/items/radiant/radiant-warmogs-armor.png";
import RedBuffRadiantImg from "../assets/items/radiant/redbuff_radiant.png";
import RoyalCrownshieldImg from "../assets/items/radiant/royal-crownshield.png";
import SteraksMegashieldImg from "../assets/items/radiant/steraks-megashield.png";
import StrideBreakerImg from "../assets/items/radiant/stride-breaker.png";


// Colores predefinidos para los bordes
const borderColors = {
  purple: "#8b5cf6",   // Morado
  blue: "#3b82f6",     // Azul
  yellow: "#eab308",   // Amarillo
  green: "#22c55e",    // Verde
  gray: "#6b7280"      // Gris
} as const;

// Objeto con todos los campeones para fácil acceso
const championAssets = {
  Aatrox: AatroxImg,
  Ahri: AhriImg,
  Akali: AkaliImg,
  Ashe: AsheImg,
  Braum: BraumImg,
  Caitlyn: CaitlynImg,
  Darius: DariusImg,
  "Dr Mundo": DrMundoImg,
  Ezreal: EzrealImg,
  Gangplank: GangplankImg,
  Garen: GarenImg,
  Gnar: GnarImg,
  Gwen: GwenImg,
  Janna: JannaImg,
  JarvanIV: JarvanIVImg,
  Jayce: JayceImg,
  Jhin: JhinImg,
  Jinx: JinxImg,
  KaiSa: KaiSaImg,
  Kalista: KalistaImg,
  Karma: KarmaImg,
  Katarina: KatarinaImg,
  Kayle: KayleImg,
  Kennen: KennenImg,
  Kobuko: KobukoImg,
  KogMaw: KogMawImg,
  KSante: KSanteImg,
  "Lee Sin": LeeSinImg,
  Leona: LeonaImg,
  Lucian: LucianImg,
  Lulu: LuluImg,
  Lux: LuxImg,
  Malphite: MalphiteImg,
  Malzahar: MalzaharImg,
  Naafiri: NaafiriImg,
  Neeko: NeekoImg,
  Poppy: PoppyImg,
  Rakan: RakanImg,
  Rammus: RammusImg,
  Rell: RellImg,
  Ryze: RyzeImg,
  Samira: SamiraImg,
  Senna: SennaImg,
  Seraphine: SeraphineImg,
  Sett: SettImg,
  Shen: ShenImg,
  Sivir: SivirImg,
  Smolder: SmolderImg,
  Swain: SwainImg,
  Syndra: SyndraImg,
  "The Mighty Mech": TheMightyMechImg,
  "Twisted Fate": TwistedFateImg,
  Udyr: UdyrImg,
  Varus: VarusImg,
  Vi: ViImg,
  Viego: ViegoImg,
  Volibear: VolibearImg,
  Xayah: XayahImg,
  "Xin Zhao": XinZhaoImg,
  Yasuo: YasuoImg,
  Yone: YoneImg,
  Yuumi: YuumiImg,
  Zac: ZacImg,
  Ziggs: ZiggsImg,
  Zyra: ZyraImg,
};

// Objeto con todos los items para fácil acceso
const itemAssets = {
  // Items básicos
  "BF Sword": BfSwordImg,
  "Chain Vest": ChainVestImg,
  "Frying Pan": FryingPanImg,
  "Giant's Belt": GiantsBeltImg,
  "Needlessly Large Rod": NeedlesslyLargeRodImg,
  "Negatron Cloak": NegatronCloakImg,
  "Recurve Bow": RecurveBowImg,
  "Sparring Gloves": SparringGlovesImg,
  "Spatula": SpatulaImg,
  "Tear of the Goddess": TearOfTheGoddessImg,

  // Items combinados
  "Adaptive Helm": AdaptiveHelmImg,
  "Archangel's Staff": ArchangelsStaffImg,
  "Bloodthirster": BloodthirsterImg,
  "Blue Buff": BlueBuffImg,
  "Bramble Vest": BrambleVestImg,
  "Crownguard": CrownguardImg,
  "Deathblade": DeathbladeImg,
  "Dragon's Claw": DragonClawImg,
  "Edge of Night": EdgeOfNightImg,
  "Evenshroud": EvenshroudImg,
  "Fimbulwinter": FimbulwinterImg,
  "Gargoyle Stoneplate": GargoyleStoneplateImg,
  "Giant Slayer": GiantSlayerImg,
  "Guardbreaker": GuardbreakerImg,
  "Guinsoo's Rageblade": GuinsoosRagebladeImg,
  "Hand of Justice": HandOfJusticeImg,
  "Hextech Gunblade": HextechGunbladeImg,
  "Infinity Edge": InfinityEdgeImg,
  "Ionic Spark": IonicSparkImg,
  "Jeweled Gauntlet": JeweledGauntletImg,
  "Kraken's Fury": KrakensFuryImg,
  "Last Whisper": LastWhisperImg,
  "Morellonomicon": MorellonomiconImg,
  "Nashor's Tooth": NashorsToothImg,
  "Quicksilver": QuicksilverImg,
  "Rabadon's Deathcap": RabadonsDeathcapImg,
  "Red Buff": RedBuffImg,
  "Spear of Shojin": SpearOfShojinImg,
  "Spirit Visage": SpiritVisageImg,
  "Steadfast Hammer": SteadfastHammerImg,
  "Sterak's Gage": SteraksGageImg,
  "Sunfire Cape": SunfireCapeImg,
  "Tactician's Crown": TacticiansCrownImg,
  "Tactician's Cape": TacticiansCapeImg,
  "Tactician's Shield": TacticiansShieldImg,
  "Thief's Gloves": ThiefsGlovesImg,
  "Titan's Resolve": TitansResolveImg,
  "Void Staff": VoidStaffImg,
  "Warmog's Armor": WarmogsArmorImg,

  // Items artefactos
  "Blighting Jewel": BlightingJewelImg,
  "Dawncore": DawncoreImg,
  "Deathfire Grasp": DeathfireGraspImg,
  "Death's Defiance": DeathsDefianceImg,
  "Fishbones": FishbonesImg,
  "Flickerblade": FlickerbladeImg,
  "Gamblers Blade": GamblersBladeImg,
  "Gold Collector": GoldCollectorImg,
  "Horizon Focus": HorizonFocusImg,
  "Hullcrusher": HullcrusherImg,
  "Indomitable Gauntlet": IndomitableGauntletImg,
  "Infinity Force": InfinityForceImg,
  "Innervating Locket": InnervatingLocketImg,
  "Lich Bane": LichBaneImg,
  "Lightshield Crest": LightshieldCrestImg,
  "Luden's Tempest": LudensTempestImg,
  "Manazane": ManazaneImg,
  "Mittens": MittensImg,
  "Mogul's Mail": MogulsMailImg,
  "Prowler's Claw": ProwlersClawImg,
  "Rapid Firecannon": RapidFirecannonImg,
  "Seeker's Armguard": SeekersArmguardImg,
  "Silvermere Dawn": SilvermereDawnImg,
  "Sniper's Focus": SnipersFocusImg,
  "Spectral Cutlass": SpectralCutlassImg,
  "Statikk Shiv": StatikkShivImg,
  "Suspicious Trench Coat": SuspiciousTrenchCoatImg,
  "Talisman of Ascension": TalismanOfAscensionImg,
  "Titanic Hydra": TitanicHydraImg,
  "Trickster's Glass": TrickstersGlassImg,
  "Unending Despair": UnendingDespairImg,
  "Wit's End": WitsEndImg,
  "Zhonya's Paradox": ZhonyasParadoxImg,

  // Items consumibles
  "Champion Duplicator": ChampionDuplicatorImg,
  "Lesser Champion Duplicator": LesserChampionDuplicatorImg,
  "Magnetic Remover": MagneticRemoverImg,
  "Reforger": ReforgerImg,

  // Items elusivos
  "Crown of Demacia": CrownOfDemaciaImg,
  "Protector Emblem": ProtectorEmblemImg,
  "Sniper Emblem": SniperEmblemImg,

  // Items radiantes
  "Equinox": EquinoxImg,
  "Jaksho the Protean": JakshoTheProteanImg,
  "Legacy of the Colossus": LegacyOfTheColossusImg,
  "Nashor's Tooth (Radiant)": NashorsToothRadiantImg,
  "Radiant Archangel's Staff": RadiantArchangelsStaffImg,
  "Radiant Bloodthirster": RadiantBloodthirsterImg,
  "Radiant Blue Buff": RadiantBlueBuffImg,
  "Radiant Bramble Vest": RadiantBrambleVestImg,
  "Radiant Deathblade": RadiantDeathbladeImg,
  "Radiant Dragon's Claw": RadiantDragonsClawImg,
  "Radiant Edge of Night": RadiantEdgeOfNightImg,
  "Radiant Gargoyle Stoneplate": RadiantGargoyleStoneplateImg,
  "Radiant Giant Slayer": RadiantGiantSlayerImg,
  "Radiant Guinsoo's Rageblade": RadiantGuinsoosRagebladeImg,
  "Radiant Hand of Justice": RadiantHandOfJusticeImg,
  "Radiant Hextech Gunblade": RadiantHextechGunbladeImg,
  "Radiant Infinity Edge": RadiantInfinityEdgeImg,
  "Radiant Ionic Spark": RadiantIonicSparkImg,
  "Radiant Jeweled Gauntlet": RadiantJeweledGauntletImg,
  "Radiant Kraken's Fury": RadiantKrakensFuryImg,
  "Radiant Last Whisper": RadiantLastWhisperImg,
  "Radiant Morellonomicon": RadiantMorellonomiconImg,
  "Radiant Protector's Vow": RadiantProtectorsVowImg,
  "Radiant Quicksilver": RadiantQuicksilverImg,
  "Radiant Rabadon's Deathcap": RadiantRabadonsDeathcapImg,
  "Radiant Spear of Shojin": RadiantSpearOfShojinImg,
  "Radiant Spirit Visage": RadiantSpiritVisageImg,
  "Radiant Sunfire Cape": RadiantSunfireCapeImg,
  "Radiant Thief's Gloves": RadiantThiefsGlovesImg,
  "Radiant Titan's Resolve": RadiantTitansResolveImg,
  "Radiant Void Staff": RadiantVoidStaffImg,
  "Radiant Warmog's Armor": RadiantWarmogsArmorImg,
  "Red Buff (Radiant)": RedBuffRadiantImg,
  "Royal Crownshield": RoyalCrownshieldImg,
  "Sterak's Megashield": SteraksMegashieldImg,
  "Stride Breaker": StrideBreakerImg,
};

interface Props {
  champion?: keyof typeof championAssets;
  imageUrl?: string;
  borderColor?: keyof typeof borderColors | string;
  size?: string;
  items?: (keyof typeof itemAssets)[];
  stars?: number;
}

const { 
  champion,
  imageUrl, 
  borderColor = "gray", 
  size = "96px",
  items = [],
  stars = 1
} = Astro.props;

// Usar la imagen del campeón si se especifica, sino usar imageUrl, sino mostrar vacío
const finalImageUrl = champion ? championAssets[champion].src : imageUrl;
const showEmptySlot = !champion && !imageUrl;

// Obtener el color final del borde
const finalBorderColor = borderColor in borderColors 
  ? borderColors[borderColor as keyof typeof borderColors] 
  : borderColor;

// Filtrar y limitar los items a máximo 3
const validItems = items.slice(0, 3).filter(item => item in itemAssets);
---

<div class="character-container select-none" style={`--border-color: ${finalBorderColor}; --size: ${size};`}>
  {stars > 1 && (
    <div class="stars-container">
      {Array.from({length: stars}, (_, i) => (
        <span class="star">★</span>
      ))}
    </div>
  )}
  <div class="hexagon-container">
    <div class="hexagon">
      {finalImageUrl ? (
        <img src={finalImageUrl} alt={champion ? `${champion} champion` : "Hexagon image"} class="hexagon-image" />
      ) : (
        <div class="empty-slot"></div>
      )}
      {champion && (
        <div class="champion-name">
          {champion}
        </div>
      )}
    </div>
  </div>
  
  {validItems.length > 0 && (
    <div class="items-container">
      {validItems.map((item) => (
        <div class="item-slot">
          <img 
            src={itemAssets[item].src} 
            alt={`${item} item`} 
            class="item-image"
          />
        </div>
      ))}
    </div>
  )}
</div>

<style>
  .character-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .stars-container {
    position: absolute;
    top: clamp(-16px, calc(var(--size) * -0.2), -24px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: clamp(1px, calc(var(--size) * 0.01), 2px);
    z-index: 40;
  }

  .star {
    color: #9333ea;
    font-size: clamp(16px, calc(var(--size) * 0.2), 24px);
  }

  .hexagon-container {
    display: inline-block;
    position: relative;
    width: var(--size);
    height: var(--size);
  }

  .champion-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    z-index: 30;
    text-shadow: 
      1px 1px 2px rgba(0, 0, 0, 0.8),
      -1px -1px 2px rgba(0, 0, 0, 0.8),
      1px -1px 2px rgba(0, 0, 0, 0.8),
      -1px 1px 2px rgba(0, 0, 0, 0.8),
      0px 0px 4px rgba(0, 0, 0, 0.9);
    pointer-events: none;
  }

  .hexagon {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--border-color);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    border-radius: 0;
    overflow: hidden;
  }

  .hexagon::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: transparent;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: 1;
  }

  .hexagon-image {
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    object-fit: cover;
    object-position: 70% 20%;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: 2;
  }

  .empty-slot {
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    background: #3a3a3a ;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: 2;
    opacity: 0.5;
  }

  /* Alternativa con borde más grueso */
  .hexagon.thick-border::before {
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
  }

  .hexagon.thick-border .hexagon-image {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }

  /* Estilos para los items */
  .items-container {
    display: flex;
    justify-content: center;
    gap: clamp(1px, calc(var(--size) * 0.02), 3px);
    position: absolute;
    bottom: clamp(-12px, calc(var(--size) * -0.15), -18px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  .item-slot {
    border-radius: clamp(2px, calc(var(--size) * 0.04), 6px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
  }

  /* Responsive item sizing based on hexagon size */
  .item-slot {
    width: clamp(16px, calc(var(--size) * 0.25), 28px);
    height: clamp(16px, calc(var(--size) * 0.25), 28px);
  }

  /* Responsive champion name sizing */
  .champion-name {
    font-size: clamp(8px, calc(var(--size) * 0.125), 14px);
    padding: clamp(1px, calc(var(--size) * 0.02), 3px) clamp(4px, calc(var(--size) * 0.08), 10px);
  }

  /* Additional responsive adjustments */
  @media (max-width: 480px) {
    .item-slot {
      width: clamp(12px, calc(var(--size) * 0.2), 20px);
      height: clamp(12px, calc(var(--size) * 0.2), 20px);
    }
    
    .champion-name {
      font-size: clamp(6px, calc(var(--size) * 0.1), 10px);
      padding: 1px clamp(2px, calc(var(--size) * 0.05), 6px);
    }

    .stars-container {
      top: clamp(-12px, calc(var(--size) * -0.18), -18px);
    }

    .star {
      font-size: clamp(14px, calc(var(--size) * 0.18), 20px);
    }
  }

  @media (max-width: 360px) {
    .item-slot {
      width: clamp(10px, calc(var(--size) * 0.18), 16px);
      height: clamp(10px, calc(var(--size) * 0.18), 16px);
    }
    
    .champion-name {
      font-size: clamp(5px, calc(var(--size) * 0.08), 8px);
      padding: 1px clamp(2px, calc(var(--size) * 0.04), 4px);
    }

    .stars-container {
      top: clamp(-10px, calc(var(--size) * -0.15), -14px);
    }

    .star {
      font-size: clamp(12px, calc(var(--size) * 0.16), 18px);
    }
  }
</style>